body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    fill: #eeeeee;
    text-align: center;
    /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
    cursor: default;
}

.radar

.tooltip {
    color:rgb(235, 235, 235);
}

.legend {
    font-family: 'Raleway', sans-serif;
    fill: #dadada;
}

.legend:hover {
    font-family: 'Raleway', sans-serif;
    fill: #dadada;
}

.dir {
    font-family: sans-serif;
    fill: #f8f8f8;
    font-size:26px;
    font-weight: 900;
    align-content: center;

}

.plat{
    font-family: sans-serif;
    fill: #d8d8d8;
    font-size:20px;
    font-weight: 900;
    align-content: center;
}

.tooltip {
background: rgb(235, 235, 235);
font: 12px sans-serif;	
    display: block;
width: 60px;					
height: 28px;		
}

.yearLabel {
    display: block;
   
  }

/* .hide {
    display: none;
   
  } */

.legend:hover + .yearLabel {
    display: block;
    color: #f8f8f8;
    opacity: 100%;
  }

  .main-description{
      margin-top: 5%;
      margin-bottom: 5%;
      color: white;
      
  }

  .main-description p {
    font-size: 24px;
    font-weight: 900;
    padding-right: 50%;
    padding-left: 5%;
    text-align: justify
  }

  .container {
    overflow: hidden;
  }
  
  .filterDiv {
    color: #ffffff;
    align-content: center;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }