body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    fill: #eeeeee;
    text-align: center;
    /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
    cursor: default;
}

.radar

.tooltip {
    color:rgb(235, 235, 235);
}

.legend {
    font-family: 'Raleway', sans-serif;
    fill: #dadada;
}

.legend:hover {
    font-family: 'Raleway', sans-serif;
    fill: #dadada;
}

.dir {
    font-family: sans-serif;
    fill: #f8f8f8;
    font-size:26px;
    font-weight: 900;
    align-content: center;

}

.plat{
    font-family: sans-serif;
    fill: #d8d8d8;
    font-size:20px;
    font-weight: 900;
    align-content: center;
}

.tooltip {
background: rgb(235, 235, 235);
font: 12px sans-serif;	
    display: block;
width: 60px;					
height: 28px;		
}

.yearLabel {
    display: block;
   
  }

/* .hide {
    display: none;
   
  } */

.legend:hover + .yearLabel {
    display: block;
    color: #f8f8f8;
    opacity: 100%;
  }

  .main-description{
      margin-top: 5%;
      margin-bottom: 5%;
      color: white;
      text-align: center;
      
  }

  .main-description p {
      width:60%;
      display:inline-block;
    font-size: 24px;
    font-weight: 900;
    text-align:center;
    margin-bottom:4%;
  }

  .plat span{
    width:60%;
    font-size: 18px;
    font-weight: 900;
    padding:0.5% 3%; 
    border-radius: 12px; 
}

    #IMDB{
        border: 1px solid;
        border-color: #EDC951;
    }
    #Meta{
        border: 1px solid;
        border-color: #CC333F;
    }
    #Let{
        border: 1px solid;
        border-color: #00A0B0;
    }

  .container {
    overflow: hidden;
  }
  
  .filterDiv {
    color: #ffffff;
    align-content: center;
    text-align: center;
    margin: 2px;
    display: none; 
    padding-bottom: 6%;
    /* opacity: 0; */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    color:white;
    border: none;
    outline: 1px solid white;
    margin: 8px 4px;
    padding: 8px 16px;
    background-color: black;
    cursor: pointer;
    border-radius:12px;
    font-size:14px;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: white;
    color: black;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: white;
    color: black;
  }

  #myBtnContainer{
      margin-top:4%;
      width:45%;
      display:inline-block;
  }